<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <meta http-equiv="refresh" content="0; url={{ page.redirect_to }}?v={{ site.time | date: '%s' }}">
    <link rel="canonical" href="{{ page.redirect_to }}">
    <script>location.replace("{{ page.redirect_to }}?v={{ site.time | date: '%s' }}");</script>
    <title>Redirecting...</title>
  </head>
  <body></body>
</html> 